
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Menu social*/
.container-fluid{
   display: flex;
   max-width: 100rem;
   background-color: #064254;
   height: 5rem;  
   justify-content: center;
   align-items: center; 
}

.navigation-list{
  display: flex;
  gap: 2rem;  
  list-style: none;  
}

.navigation-list li a{
    color: #ffffff;
    text-decoration: none;
}
/* Termina estilos menu social */


/* Header  */
.imagen-container{       /* contenedor padre */
  position: relative;  /*sirve de referencia para que sus hijos con position: absolute se coloquen encima de este conte*/
  display: flex;   
}

.img-web{
    max-width: 100rem;  /* hace que la imagen ocupe toda la pantalla  */
    width: 100%;        /* hace que la imagen ocupe toda la pantalla  */
    display: block;       /* coloca en bloque el contenedor aunque ya lo es por defecto  */
}

.name{
    position: absolute;  /* esto posiciona el texto sobre la imagen, mediante la referencia de position: relative*/
    margin-left: 5rem;
    top: 8rem;
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 5rem;
}




 /* Fin de Header  */

 /* Sobre mi */
 .sobre-mi{
    background-color: #151515;
    padding-bottom: 7rem;
    text-align: center;
    color: #fff;
    font: 400;
    font-size: 1rem;
    height: 30rem;
    margin-top: 1rem;
    padding-top: 1rem;

}

.bordered-title{
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    text-shadow: -2px -2px 0 #3498db; 
    
    /* 2px 2px 0 #3498db, = Sombra hacia la derecha */
    /*  -2px -2px 0 #3498db, = Sombra hacia la izquierda */
    /*  2px -2px 0 #3498db,  = Sombra hacia la parte superior */
    /*  -2px 2px 0 #3498db; = Sombra hacia la parte inferior */
                                            
}

.small-underline{       /* los estilos generan la linea no las clases */
    width: 9rem;    /*Esto crea lo ancho de la linea */
    height: 0.1rem;  /*Esto crea lo alto de la linea */
    margin: 0 auto 1rem auto;
    background: #4d4d4d;
}

.big-underline{
    width: 20rem;
    height: 0.1rem;
    margin: 0 auto 1rem auto;
    background: #e1a87e;
}

p{
    padding: 3rem 2rem;
}


.habilidades{
    background-color: #151515;
    padding-bottom: 7rem;
    text-align: center;
    color: #fff;
    font: 400;
    font-size: 1rem;
    height: 30rem;
    margin-top: 1rem;
    padding-top: 1rem;
  
}
/* En esta clase se aplica el estilo a el texto sin necesidad de indicarlo con <p> por que esta dentro de una
section asi que es heredados con los elementos que hay dentro de section */
.educacion{
    background-color: #151515;
    padding-bottom: 7rem;
    text-align: center;
    color: #fff;
    font: 400;
    font-size: 1rem;
    height: 30rem;
    margin-top: 1rem;
    padding-top: 1rem;
}




 /* cierra sobre mi */